body {
    display: grid;
    grid-template-columns: 1fr; 
    align-content: start;

    min-width: 1440px;
    min-height: 100vh;
    margin: 0;
    font-family: "Lora", "Palatino Linotype", serif;
    font-size: 18px;
    line-height: 1.5;
    color: #1f1e1c;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0 none;
    clip-path: inset(100%);
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header-nav {
    display: grid;
    grid-template-columns: 145px 1fr;
    grid-column-gap: 50px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    min-height: 80px;
}

.line-header {
    opacity: 0.2;
    border: 1px solid #1F1E1C;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-self: end;

    margin: 0;
    padding: 0;

    list-style: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.menu-item {
    margin-right: 30px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item-link {
    color: inherit;
    text-decoration: none;
}

.article-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 46px;
    line-height: 150%;
    text-align: center;
    color: #1F1E1C;
    width: 860px;
    margin-left: 191px;
    margin-top: 70px;
}

.article-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.article-item {
    margin-right: 50px;
}

.article-text, .producer-text {
    margin: 0;
}

.article-img {
    margin-top: 25px;
    width: 1240px;
    height: 877px;
}



.info-producer, .performance-variants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
}

.info-list, .performance-list {
    margin-right: 50px;
}

.info-text {
    font-size: 17px;
    line-height: 150%;
    color: #1F1E1C;
}

.info-image-text, .performance-image {
    font-size: 16px;
    line-height: 150%;
    color: #1F1E1C;
    margin: 0;
}

.performance-block {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 835px;
}

.performance-actors {
    display: grid;
    grid-template-columns: 810px 1fr;
    margin-top: 70px;
}

.performance-list-actris {
    right: 50px;
}

.actor, .actris-image-info {
    margin-left: 25px;
}

.actris-image-info-variants, .actor-variants {
    margin-left: 9px;
}

.footer-c {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.copywriting {
    font-size: 14px;
    line-height: 150%;
    color: #1F1E1C;
    margin: 0;
}

.line {
    margin-top: 70px;
    opacity: 0.2;
    border: 1px solid #1F1E1C;
}